// Pipeline defaults
params {
    vcf    = null
    gwas   = null
    outdir = 'results'
}

// Enable Docker by default
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

// Pipeline metadata
manifest {
    name            = 'gwas-annotation-nf'
    description     = 'Annotate sample VCFs against the GWAS Catalog'
    version         = '0.1.0'
    author          = 'Khalid Dallol'
    nextflowVersion = '>=24.0.0'
}

// Execution reports (optional, nice to have)
report {
    enabled = true
    file    = "${params.outdir}/reports/execution_report.html"
}
